.SignToSpeech {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
}

.fileInputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 .5rem;
  margin: .5rem 0;
}

.fileInput {
  text-align: center;
}

.startButton {
  padding: .5rem 1.5rem;
  margin: 1rem auto;
  border-radius: 1rem;
  color: #fafafa;
  border: 1px solid transparent;
  background: lightseagreen;
  cursor: pointer;
  transition: background .3s ease-out;
}

.startButton:hover {
  background: darkseagreen;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexCol label {
  margin-top: .5rem;
  font-size: .75rem;
}

.labelContainer {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelContainer div {
  padding: .1rem .3rem;
  border: 1px solid black;
  margin-bottom: .5rem;
}

.labelContainer div:not(:last-child) {
  margin-right: 1rem;
}